@import "../../scss/mixins";

.prices {
  margin-top: 25px;
  .wrapper {
    text-align: center;
    border: 2px solid $primary;
    padding: 15px 0;
  }
  .title {
    color: #fff;
    background: $primary;
    font-size: 16px;
    margin-bottom: 0;
    text-align: center;
    padding: 3px 4px;
  }
  .box {
    div {width: 100%;}
    background: rgba(255,255,255,0.8);
    border: 2px solid $primary;
    box-shadow: 7px 7px 7px #777;
    margin-bottom: 20px;
    border-radius: 0;
    padding: 10px;
    display: flex;
    font-size: 16px;
    p {
      margin-bottom: 7px;
    }
    .pricesImg {
      width: 30%;
      height: 100px;
      margin-right: 10px;
    }
  }
}