@import "../../scss/mixins";

.mainBg {
  padding-top: 20px;
  @include media-breakpoint-up(lg) {
    padding-top: 84px;
  }
  position: relative;
  div {position: relative;z-index: 2;}
  text-align: center;
  &:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url(./../../public/images/mainBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    @include media-breakpoint-down(md) {
      background-size: cover;
      background-position: 100% 100%;
    }
  }
  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .indexPageBlock {
    padding: 80px 0 45px;
    text-align: center;
    color: #144372;
    p {
      color: #fff;
      font-size: 20px;
      font-weight: 100;
      text-shadow: 1px 1px 2px #000000;
    }
    .h1 {
      font-size: 48px;
      line-height: 44px;
      color: #fff;
      font-weight: 100;
      text-shadow: 1px 1px 2px #000000;
      span {
        color: $primary;
      }
      @include media-breakpoint-down(md) {
        font-size: 34px;
        line-height: 46px;
      }
    }
  }
  .oplata {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      @include media-breakpoint-up(md) {
        left: 20%;
        width: 60%;
        height: 60%;
      }
      width: 100%;
      height: 100%;
      padding: 3px;
      background: $primary;
      border-radius: 5px;
      box-shadow: 0 0 10px 0 #000;
    }
  }
}

